In [ ]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

NB_DIR = os.getcwd()
PROJECT_ROOT = os.path.dirname(NB_DIR)
RAW_DATA_DIR = os.path.join(PROJECT_ROOT, 'data', 'raw')
os.makedirs(RAW_DATA_DIR, exist_ok=True)
FIGURES_DIR = os.path.join(PROJECT_ROOT,'data', 'reports', 'figures')
os.makedirs(FIGURES_DIR, exist_ok=True)
csv_path =  os.path.join(RAW_DATA_DIR, 'raw_tunnel_data.csv')

df = pd.read_csv(csv_path).set_index('Chainage_m')

# we have multiple parameters here unlike M1 so we do
# some ways: features = ['UCS_MPa', 'RQD_pct', 'Thrust_kN', 'RPM']
# X = df[features]

X = df.drop(columns='ROP_m_hr').copy()


y =  df['ROP_m_hr']

               UCS_MPa       RPM    RQD_pct    Thrust_KN   True_ROP
Chainage_m
0            67.450712  9.637336  17.532218  4353.575766  29.824688
1            67.450712  8.758745  33.476007  4788.279960  29.812211
2            67.450712  8.758753  10.000000  4000.991685  24.910515
3            67.450712  9.665428  38.210811  4709.736747  32.358658
4            67.450712  9.259539  29.800193  3996.739719  26.306799
...                ...       ...        ...          ...        ...
4995        145.907542  7.972226  56.072331  4897.246842   8.075296
4996        145.907542  7.144175  58.301674  5189.376432   7.668212
4997        145.907542  7.356328  38.458426  5193.521212   7.902233
4998        145.907542  7.341501  44.053355  5237.828137   7.953585
4999        145.907542  6.670386  39.675131  5276.608450   7.280022

[5000 rows x 5 columns]